<ion-header>
  <ion-toolbar>
    <ion-title>Foo - The Netflix</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <ion-item *ngFor="let filme of filmes" 
    [href]="'Detalhe/' + filme.id" 
    routerDirection="foward">
    <ion-card>
      <img src="http://image.tmdb.org/t/p/original/{{filme.poster_path}}"
      width="200" />
      <ion-card-content>
          <ion-card-title>
            {{filme.title}}
          </ion-card-title>
        <p>
          {{filme.overview}}
        </p>
      </ion-card-content>
    </ion-card>
  </ion-item>

</ion-content>
